body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.navContainer {
  position: relative;
}

.custom-gradient-text {
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.custom-gradient-border {
  position: relative;
  border-radius: 9px;
  /* Adjust the radius for roundness */
  background: #fff;
  border: transparent;
}

.custom-gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -1px;
  border-radius: 10px;
  /* Match the radius with the div */
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%);
}

.selectedCity {
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%) !important;
  color: white !important;
}


@media (max-width:830px) {
  .heroSectionHide {
    display: none !important;
  }
}

.snipContainer {
  height: 100vh;
  overflow: hidden;
}
.snipContainerLoading{
  height: 100vh;
  overflow: hidden;
}
.chooseCityWidget {
  display: none;
}

.chooseCityOverlay {
  display: none;
}

/* @media (max-width:830px) {
  .chooseCityOverlay {
    display: none !important;
  }
} */

.customGradient {
  background: linear-gradient(103deg, #E31D1C -63.95%, #0E51A0 165.1%);

}

.customGradient2 {
  background: linear-gradient(138.25deg, rgba(14, 81, 160, 0.05) -6.91%, rgba(227, 29, 28, 0.05) 106.82%);

}

.customGradient3 {
  background: linear-gradient(99deg, #E31D1C -88.89%, #0E51A0 194.13%), rgba(255, 169, 40, 0.10);
}



.radio {
  background-color: white;
  color: black;

}

.selectedRadio {
  background-color: #0E51A0;
  color: white;
}

.radio .checkedIcon {
  display: none;
}

.selectedRadio .checkedIcon {
  display: block;
}

.selectedRadio .uncheckedIcon {
  display: none;
}



#doorDeliveryDetails {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

#doorDeliveryDetails.show {
  max-height: 1000px;
  /* Set to a large enough value to fully reveal content */
  opacity: 1;
  visibility: visible;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}















/* date picker css */

#datePickerWrapper {
  position: relative;
  display: inline-block;
}

/* Initially hide the calendar */
.calendar-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Show the calendar with transition */
.calendar-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}


#calendar {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  width: 100%;
}

#calendar table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#calendar th,
#calendar td {
  cursor: pointer;
}

#calendar th {
  font-weight: bold;
  color: #666;
}

#calendar tr {
  margin-top: 2rem;
}

#calendar td {
  color: #333;
  padding: 10px 0;
}

#calendar td span {
  padding: 8px 8px;
  font-weight: 600;
}

#calendar .selected span {
  background-color: #0E51A0;
  color: white;
  border-radius: 10px;
}

#calendar .navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}


.hiddenSpace {
  display: none;
}

.activeSpace {
  display: block;
}

.toggleItem {
  border-color: transparent;
}
.toggleItem span{
  color: black;
  --tw-text-opacity: 0.6;
}
.toggleItem svg{
  fill: black;
  fill-opacity: 0.6;
}

.activeToggle {
  border-color: #0E51A0;
}
.activeToggle span{
  color: #0E51A0;
  font-weight: 700;
  --tw-text-opacity: 1;
}
.activeToggle svg{
  fill: #0E51A0;
  fill-opacity: 1;
}


.card {
  background: rgba(14, 81, 160, 0.05);
  border-radius: 16px;
  padding: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  flex-wrap: wrap;
  height:100%;
}

.icon-container {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  width: 100%;
  transition: color 0.3s ease;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;

  transition: color 0.3s ease;
  word-wrap: break-word;
}

.cta-button {
  height: 40px;
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(14, 81, 160, 0.1);
  border-radius: 32px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  width: fit-content;
  transition: width 0.3s ease, background-color 0.3s ease, justify-content 0.3s ease;
}

.card:hover {
  background: linear-gradient(157deg, #E31D1C -4.27%, #0E51A0 101.01%), rgba(14, 81, 160, 0.05);
  transform: translateY(-5px);
  /* Optional for slight hover movement */
}

.card:hover .title,
.card:hover .description {
  color: white;
}

.card:hover .cta-button {
  width: 100%;
  background-color: white;
  justify-content: center;
}


.cards-wrapper {
  overflow-x: auto;
  display: flex;
  gap: 1.5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  /* Responsive grid */
  gap: 1rem;
  /* Space between cards */
}

@media (max-width:830px) {
  .cards-container {
    display: flex;
  }

  .cards-wrapper {
    overflow-x: scroll;
    display: flex;
    padding: 1rem 0;
  }

  .card {
    /* Adjust this based on your design */
    flex: 0 0 auto;
    /* Prevent cards from shrinking */
    width: 20rem;
  }
}








/* Basic styles for dropdown */
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid rgb(209 213 219);
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 107%;
  left: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  
  
  z-index: 1000;
  max-height: 260px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 13px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-item input[type="checkbox"] {
  margin-right: 10px;
  margin-left: auto;
  
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-search {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  outline: none;
}

.icon-dropdown-flag{
  width: 28px !important;
  border-radius: 100%;
  aspect-ratio: 1;
  background-size: cover !important;
}

.dropdown-menu::-webkit-scrollbar {
  border-radius: 2px;
  width: 5px;
}


.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #bcbcbc; 
  border-radius: 10px;
}


.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b; 
}


/* Hide the native checkbox */
.dropdown-item input[type="checkbox"] {
  appearance: none; /* Removes default styling in modern browsers */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  width: 20px;  /* Custom size for checkbox */
  height: 20px; /* Custom size for checkbox */
border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #ffff; /* Custom background color for the checkbox */
  border-radius: 3px; /* Rounded corners for the checkbox */
   /* Border for the checkbox */
  position: relative;
  cursor: pointer; /* Cursor changes to pointer on hover */
  margin-left: auto;
  margin-right: 10px;
}

/* Custom checkmark using ::after */
.dropdown-item input[type="checkbox"]::after {
  content: ''; /* Empty content to create the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px; /* Width of the checkmark */
  height: 14px; /* Height of the checkmark */
  border: solid white; /* White color for the checkmark */
  border-width: 0 2px 2px 0; /* Only display right and bottom borders to form the checkmark */
  transform: translate(-50%, -50%) rotate(45deg); /* Position and rotate the checkmark */
  display: none; /* Hidden by default */
}

/* Show the checkmark when the checkbox is checked */
.dropdown-item input[type="checkbox"]:checked::after {
  display: block; /* Display checkmark */
}

/* Custom styling when checkbox is checked */
.dropdown-item input[type="checkbox"]:checked {
  background-color: #0ab163; /* Maintain the background color when checked */ /* Keep the border color consistent */
}
.selectedChoice{
  background-color: rgb(14 81 160/0.1);
  font-weight: 600;
  padding: 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.8rem;
  line-height: 1rem;
  color: rgba(0, 0, 0,0.8);
  display: flex;
}
.dropdown-toggle{
  display: flex;
  gap: 0.4rem;
}

.dropdown-item.selected {
  background-color: rgb(14 81 160/0.1); /* Example highlight color */
  font-weight: bold; /* Example style for selected item */
}




#recomendationContainer{
  display: none;
}

.popularCityContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.cityBtn {
  height: 28px;
  padding: 8px 12px;
  background-color: #e7eef5;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  cursor: pointer;
}

.cityBtn p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.cityBtn:hover {
  background-color: #d1e3f5;
}

.no-results {
  padding: 10px;
  color: red;
  border-radius: 10px;
}
.testimonialCard{
  transition: 0.1s;
  cursor: pointer;
}
.testimonialCard:hover{
  background: linear-gradient(329deg, #0E51A0 -43.1%, #E3373A 144.49%), #0E51A0 !important;
}
.testimonialCard:hover h3,
.testimonialCard:hover p,
.testimonialCard:hover span {
  color: white !important;
}
.testimonialCard:hover span{
  background: rgba(255, 255, 255, 0.10);
}




/* Ensure the parent element is positioned relative */
.custom-underline {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: #000; /* Default text color */
  overflow: hidden; /* Hide overflow for animation */
  padding-bottom: 0.7rem;
}

/* Create the custom underline with ::after */
.custom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* Underline thickness */
  background: #0E51A0; /* Custom underline color */
  transform: translateY(10px); /* Start with the underline hidden */
  transition: transform 0.3s ease; /* Animate the underline */
  transform-origin: bottom; /* Animate from the bottom */
}

/* On hover of either .custom-underline or .navElementContainer, animate the underline */
.custom-underline:hover::after,
.navElementContainer:hover .custom-underline::after {
  transform: translateY(0); /* Reveal the underline */
}

.subNavElement:hover .subNavElementSvg {
  fill: #0E51A0; 
}
#mobileContactSection{
  transition: 0.2s;
}
#mobileContactBtn{
  transition: 0.1s;
  width: 6rem;
}
.hideContactMob{
  transform: translate(-50%, -5rem);
  opacity: 0;
  z-index: -1;
}
.activeContactBtn{
  background-color: #0E51A0;
  color: white;
}
#mobileContactBtn svg{
  display: none;
}
.activeContactBtn svg{
  display: block !important;
}

.serviceBtn{
  border-color: transparent;
  transition: 0.1s;
}
.serviceBtn svg{
  fill: black;
  fill-opacity: 0.6;
  stroke: black;
  stroke-opacity: 0.6;
  stroke-width: 0.5;

}
.servicesActiveBtn{
  border-color: #0E51A0;

}
.servicesActiveBtn p{
  font-weight: 600;
}
.servicesActiveBtn svg{
  fill: #0E51A0;
  fill-opacity: 1;
  stroke: #0E51A0;
  stroke-opacity: 1;
  stroke-width: 1;
}








.faqContent {
  transition: max-height 0.3s ease-out;
}
.faqContent.open {
  max-height: fit-content; /* Adjust this value based on your content size */
}
.faqHeader .iconArrow {
  transform: rotateZ(180deg);
  transition: transform 0.3s ease; /* Smooth rotation transition */
}
.faqHeader.open .iconArrow {
  transform: rotateZ(0deg); /* Rotate icon when open */
}







.menu-icon {
  width: 32px;
  height: 25px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adjusted for smooth transformation */
}

.menu-icon div {
  width: 100%;
  height: 3px;
  background-color: #0E51A0;
  position: absolute;
  left: 0;
  transition: transform 0.1s ease, opacity 0.3s ease;
}

.menu-icon .bar1 {
  top: 0;
}

.menu-icon .bar2 {
  top: 10px; /* Adjust based on height of the bars */
}

.menu-icon .bar3 {
  top: 20px; /* Adjust based on height of the bars */
}

/* Transform to a cross */
.menu-icon.open .bar1 {
  transform: rotate(45deg);
  top: 12px; /* Center the bar */
}

.menu-icon.open .bar2 {
  transform: translate(-10rem,0);
  opacity: 0; /* Hide the middle bar */
  transition: opacity 0.3s ease;
}

.menu-icon.open .bar3 {
  transform: rotate(-45deg);
  top: 12px; /* Center the bar */
}

.mobMenuActive{
  transform: translate(0, 0) !important;
}
.showDropDownMob{
  display: flex;
}
.rotateDropDownArrow{
  transform: rotate(0deg);
}


.otpWidget{
  display: none;
}
#verifyOtpMain{
  display: none;
}

.kycExtender {
  display: none;
}
.kycExtender .deleteIcon{
  display: none;
}
.uploadedContent{
  display: none;
}
.kycUploaderActive .kycUploaderContainer{
  background: rgba(32, 188, 115, 0.10);
}

.kycUploaderActive .uploadBtn{
  display: none;
}
.kycUploaderActive .uploadedContent{
  display: flex;
}
.uploadingText{
  display: none;
}
.uploadingText{
  display: none;
}
.kycUploaderDelay .uploadingText{
  display: block;
}
.kycUploaderDelay .uploadBtn{
  display: none;
}
.uploadProgress{
  display: none;
}


/* Target autofilled input, textarea, and select elements */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  /* Other custom styles */
  transition: background-color 5000s ease-in-out 0s;
}




.loadingAnimationContainer{
  
}

.svgbox {
  --blue: rgb(148, 66, 63);
  stroke: var(--blue);
  stroke-width: 4;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 2s linear infinite;
}
@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }
  to {
    stroke-dashoffset: 1;
  }
}

.selectedDropDownItem{
  background-color: #ececec;
}
.otpResendBtn{
  opacity: 0.5;
}

/* Hides the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Hides the spinner in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.chooseCityWidget img{
    display:none;
}

.currencyListTemp{
    list-style: none;
}
#sellCurrencyContainer{
    z-index:1;
}




.whatsappChatBotContainer{
  position: fixed;
  right: 1.3rem;
  bottom: 2rem;
  z-index: 1000;
}

.whatsappChatBot{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 8px 8px 12px;
  background: #25D366;
  border-radius: 32px;
}
@media (max-width:800px) {
  .whatsappChatBot{
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    padding: 12px;
    
    
  }
  .whatsappChatBot span{
    display: none;
  }
  .whatsappChatBot img{
    width: 24px;
    height: 24px;
    
  }
}
.whatsappChatBot span{
  color: var(--Neutral-100, var(--Backgrounds-Primary, #FFF));
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
}
.whatsappChatBot img{
  width: 32px;
  height: 32px;
}