<div id="loginWidgetContainer"
    class="absolute top-0 left-0 w-full h-[100vh] bg-white customMd:bg-black/30  customMd:bg-opacity-60  z-20"
    style="backdrop-filter: blur(7px)">

    <div
        class="otpWidget pt-10 customMd:pt-5 flex w-full  customMd::w-[30%] customMd::min-w-[26.5rem] absolute  z-20 top-0 left-0 bg-white px-5  py-5 customMd:rounded-xl flex-col customMd:mt-12 customMd:bg-white  min-h-[100vh] customMd:min-h-[0] h-[37rem] customMd:max-w-2xl customMd:left-2/4  customMd:top-1/2  customMd:transform customMd:-translate-x-1/2 customMd:-translate-y-1/2">
        <img class="w-44" src="<?php echo $fold . 'public/images/logo/ETM logo without tagline.png'; ?>" alt="">

        <div id="sendOtpMain" class="flex flex-col ">
            <img class="w-48 mt-4" src="<?php echo $fold .'public/images/otpImg.svg'; ?>" alt="">

            <span class="text-black text-sm font-semibold mt-6 leading-7">Enter Your Mobile Number</span>

            <div class="flex justify-between gap-2" id="otpMobileContainer">
                <div id=""
                    class="p-[2px] rounded-[12px]  customGradient justify-start items-center gap-2.5 inline-flex w-[35%]">
                    <div style="padding: 0.75rem 0.5rem;height: 3rem;"
                        class="justify-start rounded-[10px] items-center gap-2.5 flex w-full border-0 bg-white">
                        <div style="height: fit-content;padding: 0;border: none;width: 100%;"
                            class="dropdownMain select-none countryCodeContainer" data-search="true" id="contryCodeMain"
                            dataval="" custom-content>

                            <div class="selectedItem">


                            </div>

                            <ul class="dropdownList overflow-scroll" id="countryCodeDropDown">



                            </ul>
                            <svg class="dropdownArrow" xmlns="http://www.w3.org/2000/svg" width="16" height="17"
                                viewBox="0 0 16 17" fill="none">
                                <path
                                    d="M13.354 6.85354L8.35403 11.8535C8.30759 11.9 8.25245 11.9369 8.19175 11.9621C8.13105 11.9872 8.06599 12.0002 8.00028 12.0002C7.93457 12.0002 7.86951 11.9872 7.80881 11.9621C7.74811 11.9369 7.69296 11.9 7.64653 11.8535L2.64653 6.85354C2.55271 6.75972 2.5 6.63247 2.5 6.49979C2.5 6.36711 2.55271 6.23986 2.64653 6.14604C2.74035 6.05222 2.8676 5.99951 3.00028 5.99951C3.13296 5.99951 3.26021 6.05222 3.35403 6.14604L8.00028 10.7929L12.6465 6.14604C12.693 6.09958 12.7481 6.06273 12.8088 6.03759C12.8695 6.01245 12.9346 5.99951 13.0003 5.99951C13.066 5.99951 13.131 6.01245 13.1917 6.03759C13.2524 6.06273 13.3076 6.09958 13.354 6.14604C13.4005 6.19249 13.4373 6.24764 13.4625 6.30834C13.4876 6.36904 13.5006 6.43409 13.5006 6.49979C13.5006 6.56549 13.4876 6.63054 13.4625 6.69124C13.4373 6.75193 13.4005 6.80708 13.354 6.85354Z"
                                    fill="black"></path>
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="otpInputContainer"
                    class="p-[2px] rounded-[12px]  customGradient justify-start items-center gap-2.5 inline-flex  w-[65%]">
                    <div class="justify-start rounded-[10px] items-center gap-2.5 flex bg-white w-full">
                        <input type="text" id="mobNumber"
                            class="font-semibold w-full outline-none border-0 bg-transparent py-3 px-2">
                    </div>
                </div>
            </div>
            <p class="text-[#777777] text-sm font-medium mt-4 leading-[21px] mb-8">We will send you one-time
                password to your mobile number</p>

            <!--            <div  id="optSend" class=" px-4 py-3.5  rounded-lg justify-center items-center gap-1 inline-flex  cursor-pointer bg-primary-blue">-->
            <!--    <div style="color:white" class=" text-base font-bold font-['Plus Jakarta Sans']">Get OTP via SMS</div>-->
            <!--    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">-->
            <!--        <path-->
            <!--            d="M15.781 12.7823L8.28104 20.2823C8.21136 20.3519 8.12863 20.4072 8.03759 20.4449C7.94654 20.4826 7.84896 20.5021 7.75042 20.5021C7.65187 20.5021 7.55429 20.4826 7.46324 20.4449C7.3722 20.4072 7.28947 20.3519 7.21979 20.2823C7.15011 20.2126 7.09483 20.1299 7.05712 20.0388C7.01941 19.9478 7 19.8502 7 19.7516C7 19.6531 7.01941 19.5555 7.05712 19.4645C7.09483 19.3734 7.15011 19.2907 7.21979 19.221L14.1901 12.2516L7.21979 5.28226C7.07906 5.14153 7 4.95066 7 4.75164C7 4.55261 7.07906 4.36174 7.21979 4.22101C7.36052 4.08028 7.55139 4.00122 7.75042 4.00122C7.94944 4.00122 8.14031 4.08028 8.28104 4.22101L15.781 11.721C15.8508 11.7907 15.9061 11.8734 15.9438 11.9644C15.9816 12.0555 16.001 12.1531 16.001 12.2516C16.001 12.3502 15.9816 12.4478 15.9438 12.5388C15.9061 12.6299 15.8508 12.7126 15.781 12.7823Z"-->
            <!--            fill="white" />-->
            <!--    </svg>-->
            <!--</div>-->

            <!--            <div id="whatsappOtpSend"  style="border:0.8px solid #20bc73;" class=" px-4 py-3.5 mt-4  rounded-lg justify-center items-center gap-1 inline-flex cursor-pointer">-->
            <!--    <div style="color:#20bc73" class="text-base font-bold font-['Plus Jakarta Sans']">Get OTP on WhatsApp</div>-->
            <!--    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">-->
            <!--        <path-->
            <!--            d="M15.781 12.7823L8.28104 20.2823C8.21136 20.3519 8.12863 20.4072 8.03759 20.4449C7.94654 20.4826 7.84896 20.5021 7.75042 20.5021C7.65187 20.5021 7.55429 20.4826 7.46324 20.4449C7.3722 20.4072 7.28947 20.3519 7.21979 20.2823C7.15011 20.2126 7.09483 20.1299 7.05712 20.0388C7.01941 19.9478 7 19.8502 7 19.7516C7 19.6531 7.01941 19.5555 7.05712 19.4645C7.09483 19.3734 7.15011 19.2907 7.21979 19.221L14.1901 12.2516L7.21979 5.28226C7.07906 5.14153 7 4.95066 7 4.75164C7 4.55261 7.07906 4.36174 7.21979 4.22101C7.36052 4.08028 7.55139 4.00122 7.75042 4.00122C7.94944 4.00122 8.14031 4.08028 8.28104 4.22101L15.781 11.721C15.8508 11.7907 15.9061 11.8734 15.9438 11.9644C15.9816 12.0555 16.001 12.1531 16.001 12.2516C16.001 12.3502 15.9816 12.4478 15.9438 12.5388C15.9061 12.6299 15.8508 12.7126 15.781 12.7823Z"-->
            <!--            fill="#20bc73" />-->
            <!--    </svg>-->
            <!--</div>-->



            <div id="whatsappOtpSend"
                class=" px-4 py-3.5 bg-[#20bc73] rounded-lg justify-center items-center gap-1 inline-flex cursor-pointer">
                <div class="text-white text-base font-bold font-['Plus Jakarta Sans']">Get OTP on WhatsApp</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M15.781 12.7823L8.28104 20.2823C8.21136 20.3519 8.12863 20.4072 8.03759 20.4449C7.94654 20.4826 7.84896 20.5021 7.75042 20.5021C7.65187 20.5021 7.55429 20.4826 7.46324 20.4449C7.3722 20.4072 7.28947 20.3519 7.21979 20.2823C7.15011 20.2126 7.09483 20.1299 7.05712 20.0388C7.01941 19.9478 7 19.8502 7 19.7516C7 19.6531 7.01941 19.5555 7.05712 19.4645C7.09483 19.3734 7.15011 19.2907 7.21979 19.221L14.1901 12.2516L7.21979 5.28226C7.07906 5.14153 7 4.95066 7 4.75164C7 4.55261 7.07906 4.36174 7.21979 4.22101C7.36052 4.08028 7.55139 4.00122 7.75042 4.00122C7.94944 4.00122 8.14031 4.08028 8.28104 4.22101L15.781 11.721C15.8508 11.7907 15.9061 11.8734 15.9438 11.9644C15.9816 12.0555 16.001 12.1531 16.001 12.2516C16.001 12.3502 15.9816 12.4478 15.9438 12.5388C15.9061 12.6299 15.8508 12.7126 15.781 12.7823Z"
                        fill="white" />
                </svg>
            </div>

            <div style="border:0.8px solid #2C5AA2;" id="optSend"
                class=" px-4 py-3.5  rounded-lg justify-center items-center gap-1 inline-flex mt-4 cursor-pointer">
                <div style="color:#2C5AA2;" class=" text-base font-bold font-['Plus Jakarta Sans']">Get OTP via SMS
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M15.781 12.7823L8.28104 20.2823C8.21136 20.3519 8.12863 20.4072 8.03759 20.4449C7.94654 20.4826 7.84896 20.5021 7.75042 20.5021C7.65187 20.5021 7.55429 20.4826 7.46324 20.4449C7.3722 20.4072 7.28947 20.3519 7.21979 20.2823C7.15011 20.2126 7.09483 20.1299 7.05712 20.0388C7.01941 19.9478 7 19.8502 7 19.7516C7 19.6531 7.01941 19.5555 7.05712 19.4645C7.09483 19.3734 7.15011 19.2907 7.21979 19.221L14.1901 12.2516L7.21979 5.28226C7.07906 5.14153 7 4.95066 7 4.75164C7 4.55261 7.07906 4.36174 7.21979 4.22101C7.36052 4.08028 7.55139 4.00122 7.75042 4.00122C7.94944 4.00122 8.14031 4.08028 8.28104 4.22101L15.781 11.721C15.8508 11.7907 15.9061 11.8734 15.9438 11.9644C15.9816 12.0555 16.001 12.1531 16.001 12.2516C16.001 12.3502 15.9816 12.4478 15.9438 12.5388C15.9061 12.6299 15.8508 12.7126 15.781 12.7823Z"
                        fill="#2C5AA2" />
                </svg>
            </div>
        </div>

        <div id="verifyOtpMain" class="mt-6 flex flex-col h-full ">
            <span class="text-[#777777] text-base font-medium  leading-7">Enter OTP</span>

            <div class="otpInputBlock mt-4 gap-4 flex mb-2">
                <input type="number"
                    class="w-16 h-16 bg-primary-blue/10 rounded-xl outline-none border-0  text-white text-center font-semibold text-3xl">

                <input type="number"
                    class="w-16 h-16 bg-primary-blue/10 rounded-xl outline-none border-0  text-white text-center font-semibold text-3xl">

                <input type="number"
                    class="w-16 h-16 bg-primary-blue/10 rounded-xl outline-none border-0  text-white text-center font-semibold text-3xl">

                <input type="number"
                    class="w-16 h-16 bg-primary-blue/10 rounded-xl outline-none border-0  text-white text-center font-semibold text-3xl">

            </div>


            <p class="text-[#777777] text-sm font-medium mt-4 leading-[21px] cursor-pointer">Code has been sent to <span
                    id="mobNum"></span><span class="text-black font-semibold ml-4" id="changeNumberBtn">
                    Change?</span></p>

            <div class="mt-6 justify-start items-center gap-2 inline-flex">
                <span class="text-black/60 text-sm font-normal  leading-[21px]">Didn’t get the OTP</span>
                <span class="otpTimer w-12 text-black/60 text-sm font-normal  leading-[21px]">In 30s</span>
                <span class="text-[#0e51a0] text-sm font-semibold  leading-[21px] otpResendBtn cursor-pointer">Resend
                    OTP</span>
            </div>

            <div id="otpVerify"
                class="h-12 w-full px-2 py-3 bg-primary-blue rounded-lg justify-center items-center gap-1 inline-flex mt-20 customMd:mt-auto select-none cursor-pointer">
                <span class="text-white text-sm font-bold">Verify OTP</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M15.781 12.7823L8.28104 20.2823C8.21136 20.3519 8.12863 20.4072 8.03759 20.4449C7.94654 20.4826 7.84896 20.5021 7.75042 20.5021C7.65187 20.5021 7.55429 20.4826 7.46324 20.4449C7.3722 20.4072 7.28947 20.3519 7.21979 20.2823C7.15011 20.2126 7.09483 20.1299 7.05712 20.0388C7.01941 19.9478 7 19.8502 7 19.7516C7 19.6531 7.01941 19.5555 7.05712 19.4645C7.09483 19.3734 7.15011 19.2907 7.21979 19.221L14.1901 12.2516L7.21979 5.28226C7.07906 5.14153 7 4.95066 7 4.75164C7 4.55261 7.07906 4.36174 7.21979 4.22101C7.36052 4.08028 7.55139 4.00122 7.75042 4.00122C7.94944 4.00122 8.14031 4.08028 8.28104 4.22101L15.781 11.721C15.8508 11.7907 15.9061 11.8734 15.9438 11.9644C15.9816 12.0555 16.001 12.1531 16.001 12.2516C16.001 12.3502 15.9816 12.4478 15.9438 12.5388C15.9061 12.6299 15.8508 12.7126 15.781 12.7823Z"
                        fill="white" />
                </svg>

            </div>
        </div>


    </div>
</div>



<script>



    function intiateLogin() {

        console.log('bvcc')
        // otp functionality

        // OTP functionality
        const otpInputAll = document.querySelectorAll('.otpInputBlock input');
        // Function to retrieve the OTP value from all input fields
        function getOtpValue() {
            let otp = '';
            otpInputAll.forEach(input => {
                otp += input.value; // Concatenate each input's value
            });
            return otp;
        }


        let inputs = otpInputAll;

        inputs.forEach((input, index) => {
            // Prevent non-numeric inputs on keydown
            input.addEventListener('keydown', (event) => {
                // Allow only numbers and control keys (like backspace)
                if (!/[0-9]/.test(event.key) &&
                    event.key !== 'Backspace' &&
                    event.key !== 'ArrowLeft' &&
                    event.key !== 'ArrowRight' &&
                    event.key !== 'Tab') {
                    event.preventDefault();
                }
            });

            // Handle input event to limit to only one number
            input.addEventListener('input', (event) => {
                const currentInput = event.target;
                const inputValue = currentInput.value;

                // Remove any non-numeric characters
                currentInput.value = inputValue.replace(/\D/g, '');

                // Ensure only one character per input
                if (currentInput.value.length > 1) {
                    currentInput.value = currentInput.value.slice(0, 1);
                }

                currentInput.style.backgroundColor = 'rgba(14, 81, 160, 1)'; // Set background opacity to 1

                // Move to the next input if any
                if (currentInput.value !== '' && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                } else if (index === inputs.length - 1) {
                    // Only log OTP if all inputs are filled
                    if (areAllInputsFilled()) {
                        const otp = getOtpValue();
                        console.log('Final OTP:', otp); // Log the final OTP
                    }
                }
            });

            input.addEventListener('keydown', (event) => {
                if (event.key === 'Backspace') {
                    const currentInput = event.target;
                    currentInput.style.backgroundColor = 'rgba(14, 81, 160, 0.1)'; // Reset background opacity

                    if (currentInput.value === '' && index > 0) {
                        inputs[index - 1].focus();
                    }
                }
            });

            input.addEventListener('focus', (event) => {
                event.target.select(); // Select the input content when focused
            });
        });

        // Function to retrieve the OTP value from all input fields
        function getOtpValue() {
            let otp = '';
            inputs.forEach(input => {
                otp += input.value; // Concatenate each input's value
            });
            return otp;
        }

        // Function to check if all OTP input fields are filled
        function areAllInputsFilled() {
            return Array.from(inputs).every(input => input.value !== '');
        }


        // Access the country data from intl-tel-input
        const countryData = intlTelInputGlobals.getCountryData();

        // Get the <ul> element where country codes will be appended
        const countryCodeDropDown = document.getElementById("countryCodeDropDown");

        // Sort the country data so that India appears first
        countryData.sort((a, b) => {
            if (a.name === 'India') return -1;
            if (b.name === 'India') return 1;
            return 0;
        });

        // Iterate through the country data and generate the dropdown
        countryData.forEach(country => {
            console.log(country)
            const dialCode = `+${country.dialCode}`;
            const countryName = country.name;  // Country name
            const countryISO = country.iso2.toUpperCase();  // ISO2 code


            // If the country is USA or India, log them for verification
            if (countryName.toLowerCase() === 'united states' || countryName.toLowerCase() === 'india') {
                console.log(`Found: ${countryName}`);
            }

            // Create <li> for each country
            const li = document.createElement("li");
            li.className = "text-sm";
            li.setAttribute('value', countryISO);
            li.setAttribute('alternativeName', countryName);
            li.setAttribute('mob-code', dialCode);
            // Set the innerHTML for each <li> with country name and dial code
            li.innerHTML = `<span>${dialCode}</span> <span> ${countryName}</span>`;

            // Append <li> to the dropdown
            countryCodeDropDown.appendChild(li);
        });
        // forceSelectDropdownItem('contryCodeMain','IN')


        // document.querySelector('#contryCodeMain').addEventListener('dropdownChange', () => {
        //     let val = document.querySelector('#contryCodeMain').getAttribute('dataval');
        //     let optSendDiv = document.querySelector('#optSend');

        //     if (val != 'IN') {
        //         optSendDiv.style.display = 'none';            // Hide the div
        //         optSendDiv.style.pointerEvents = 'none';      // Disable pointer events
        //     } else {
        //         optSendDiv.style.display = 'inline-flex';     // Show the div
        //         optSendDiv.style.pointerEvents = 'auto';      // Enable pointer events
        //     }
        // });
    };











</script>